In [1]:
sc.version

'2.4.5'

In [3]:
#from pyspark import SparkContext
#sc = SparkContext.getOrCreate()
#sqlContext = SQLContext(sc)

df = sqlContext.read.format('csv').options(header='true', inferschema='true')\
    .load('ubigeo.csv')
df.rdd.take(3)

[Row(IdUbigeo=51010000, Distrito=None, Provincia=None, Departamento='Amazonas', PAIS='Peru', PAIS_DPTO='Peru Amazonas', PAIS_DPTO_PROV='Peru Amazonas ', PAIS_DPTO_PROV_DIST='Peru Amazonas  '),
 Row(IdUbigeo=51010100, Distrito=None, Provincia='Chachapoyas', Departamento='Amazonas', PAIS='Peru', PAIS_DPTO='Peru Amazonas', PAIS_DPTO_PROV='Peru Amazonas Chachapoyas', PAIS_DPTO_PROV_DIST='Peru Amazonas Chachapoyas '),
 Row(IdUbigeo=51010101, Distrito='Chachapoyas', Provincia='Chachapoyas', Departamento='Amazonas', PAIS='Peru', PAIS_DPTO='Peru Amazonas', PAIS_DPTO_PROV='Peru Amazonas Chachapoyas', PAIS_DPTO_PROV_DIST='Peru Amazonas Chachapoyas Chachapoyas')]

In [5]:
df.toPandas()

,IdUbigeo,Distrito,Provincia,Departamento,PAIS,PAIS_DPTO,PAIS_DPTO_PROV,PAIS_DPTO_PROV_DIST
0,51010000,None,None,Amazonas,Peru,Peru Amazonas,Peru Amazonas,Peru Amazonas
1,51010100,None,Chachapoyas,Amazonas,Peru,Peru Amazonas,Peru Amazonas Chachapoyas,Peru Amazonas Chachapoyas
2,51010101,Chachapoyas,Chachapoyas,Amazonas,Peru,Peru Amazonas,Peru Amazonas Chachapoyas,Peru Amazonas Chachapoyas Chachapoyas
3,51010102,Asunción,Chachapoyas,Amazonas,Peru,Peru Amazonas,Peru Amazonas Chachapoyas,Peru Amazonas Chachapoyas Asunción
4,51010103,Balsas,Chachapoyas,Amazonas,Peru,Peru Amazonas,Peru Amazonas Chachapoyas,Peru Amazonas Chachapoyas Balsas
...,...,...,...,...,...,...,...,...
2072,51250303,Curimana,Padre Abad,Ucayali,Peru,Peru Ucayali,Peru Ucayali Padre Abad,Peru Ucayali Padre Abad Curimana
2073,51250304,Neshuya,Padre Abad,Ucayali,Peru,Peru Ucayali,Peru Ucayali Padre Abad,Peru Ucayali Padre Abad Neshuya
2074,51250305,Alexander Von Humboldt,Padre Abad,Ucayali,Peru,Peru Ucayali,Peru Ucayali Padre Abad,Peru Ucayali Padre Abad Alexander Von Humboldt
2075,51250400,None,Purús,Ucayali,Peru,Peru Ucayali,Peru Ucayali Purús,Peru Ucayali Purús
2076,51250401,Purus,Purús,Ucayali,Peru,Peru Ucayali,Peru Ucayali Purús,Peru Ucayali Purús Purus

In [14]:
hostname = "127.0.0.1" 
dbname = "farmadb"
jdbcPort = 3306
username = "root"
password = "12345"
jdbc_url = "jdbc:mysql://{0}:{1}/{2}?user={3}&password={4}"\
            .format(hostname, jdbcPort, dbname, username, password)
query = "(select * from familia)t1_alias"
df1 = sqlContext.read.format('jdbc')\
        .options(driver = 'com.mysql.jdbc.Driver', url=jdbc_url, dbtable=query).load()
df1.show()

Py4JJavaError: An error occurred while calling o217.load.
: java.lang.ClassNotFoundException: com.mysql.jdbc.Driver
	at java.net.URLClassLoader.findClass(URLClassLoader.java:382)
	at java.lang.ClassLoader.loadClass(ClassLoader.java:418)
	at java.lang.ClassLoader.loadClass(ClassLoader.java:351)
	at org.apache.spark.sql.execution.datasources.jdbc.DriverRegistry$.register(DriverRegistry.scala:45)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions$$anonfun$5.apply(JDBCOptions.scala:99)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions$$anonfun$5.apply(JDBCOptions.scala:99)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:99)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:35)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:32)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:318)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:223)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:211)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:167)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)

In [16]:
importar
desde pyspark.sql import SQLContext
de pyspark import SparkContext
# os.environ ['PYSPARK_SUBMIT_ARGS'] = '--jars /J:\system\VII sistemas\Ineligencia de negocios\exaspark-master\mysql-connector-java-5.1.45-bin pyspark-shell'

SyntaxError: invalid syntax (<ipython-input-16-a584e848e4bb>, line 2)